<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="TempFile • Delete File">
    <link rel="fluid-icon" href="/media/favicon.ico" title="TempFile • Delete File">
    <meta name="twitter:image:src" content="/media/favicon.ico">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="TempFile • Delete File">
    <meta name="twitter:description" content="A website that temporarily stores files to a chosen date.">
    <meta property="og:image" content="/media/favicon.ico">
    <meta property="og:site_name" content="TempFile">
    <meta property="og:type" content="object">
    <meta property="og:title" content="TempFile • Delete File">
    <meta property="og:url" content="/delete">
    <meta property="og:description" content="A website that temporarily stores files to a chosen date.">
    <title>TempFile • Delete</title>
    <link rel="icon" href="/media/favicon.ico">
    <link rel="stylesheet" href="/css/delete.css">
    <script src="/js/delete.js"></script>
</head>

<body>
    <div class="notif">
        <div class="normal content">
            <svg class="leftIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1250 1250" style="enable-background:new 0 0 1250 1250;" xml:space="preserve">
                <g>
                    <g>
                        <g>
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:83.3333;" d="M1143.9,439.2l1,395.7c0,14.5-1.5,89.8-66,151.3c-40.6,38.7-97.2,62.9-158.9,62.9l-147.3-2.6c-26,0-44.3,22.9-51.6,33.8c-2.5,3.8-5.1,7.4-8.1,10.7c-23.6,27.4-57.6,90.6-87.1,91.6c-25.6,0.8-65.9-57-84-85c-11.5-17.8-28.2-32.1-48.4-40.5c-16.3-6.8-34.2-10.2-52.3-9.9l-89.2,1.5c-14.4,0.2-28.8-0.8-43-3.1c-43.5-7-93.7-19.1-136.1-59.5c-40.6-38.7-66-92.6-66-151.3V304.4c0-117.5,100.8-214.2,224.9-214.2l576.2-2.7l0,0c67.8-0.3,132.7,27.2,177.2,75.9c23.7,25.9,44.7,58.4,54.3,97.9c3.6,14.5,5.5,30,5.5,46.5"/>
                            <path style="fill:#FFFFFF;" d="M1187.5,450.2"/>
                            <path style="fill:#FFFFFF;" d="M1100.3,439.8c0-22.9,19-41.5,42.4-41.5h2.2c23.4,0,42.4,18.6,42.4,41.5"/>
                            <path style="fill:#FFFFFF;" d="M1188.5,307.8c-1.5,4.2-4.6,11.1-11.2,17.4c-12.2,11.5-27.2,11.9-31,11.8h-2.3c-2.8-0.1-19.3-0.9-31-11.8c-6.3-5.9-10.2-13.7-11.4-17.4c0-0.1-0.1-0.3-0.1-0.3"/>
                        </g>
                    </g>
                </g>
                <g>
                    <g>
                        <path style="fill:#FFFFFF;" d="M614.5,903.3L614.5,903.3c-45.1,0-81.7-36.5-81.7-81.7V576.2c0-45.1,36.5-81.7,81.7-81.7l0,0c45.1,0,81.7,36.5,81.7,81.7v245.4C696.1,866.6,659.5,903.3,614.5,903.3z"/>
                        <path style="fill:#FFFFFF;" d="M614.5,418.7L614.5,418.7c-45.1,0-81.7-36.5-81.7-81.7l0,0c0-45.1,36.5-81.7,81.7-81.7l0,0c45.1,0,81.7,36.5,81.7,81.7l0,0C696.1,382.1,659.5,418.7,614.5,418.7z"/>
                    </g>
                </g>
            </svg>
            <p></p>
            <div class="notifCloseBtn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 426.66667 426.66667" style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g>
                        <path xmlns="http://www.w3.org/2000/svg" d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" fill="#000000" data-original="#000000"></path>
                    </g>
                </svg>
            </div>
        </div>
        <div class="success content">
            <svg class="leftIcon" width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(0.707059,0.710077,-0.878948,0.875212,58.0097,-69.4869)"><rect x="98.907" y="20.67" width="12.052" height="68.911" style="fill:white;"/></g><g transform="matrix(0.712102,-0.705019,0.390911,0.394838,-47.7082,122.029)"><rect x="98.907" y="20.67" width="12.052" height="68.911" style="fill:white;"/></g><g transform="matrix(1,0,0,1,0.628701,-0.419134)"><path d="M79.014,6.404C73.74,4.936 68.292,4.192 62.818,4.192C29.478,4.192 2.41,31.26 2.41,64.6C2.41,97.94 29.478,125.008 62.818,125.008C96.18,125.008 123.226,97.962 123.226,64.6L110.089,64.6C110.089,90.707 88.925,111.872 62.818,111.872C36.728,111.872 15.547,90.69 15.547,64.6C15.547,38.51 36.728,17.329 62.818,17.329C67.101,17.329 71.365,17.911 75.492,19.059L79.014,6.404Z" style="fill:white;"/></g></svg>
            <p></p>
            <div class="notifCloseBtn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 426.66667 426.66667" style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g>
                        <path xmlns="http://www.w3.org/2000/svg" d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" fill="#000000" data-original="#000000"></path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <%- include('include/header.ejs') %>
    <div class="loader">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
            <g opacity="0.95">
                <circle fill="#EF4136" cx="56.752" cy="57.16" r="12"></circle>
                <circle fill="#2B3990" cx="93.703" cy="57.16" r="12"></circle>
                <circle fill="#92278F" cx="93.703" cy="93.764" r="12"></circle>
                <circle fill="#1C75BC" cx="56.926" cy="93.764" r="12"></circle>
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 75 75" to="360 75 75" dur="2s" repeatCount="indefinite"></animateTransform>

            </g>
        </svg>
    </div>
    <main>
        <div class="topPart">
            <h2><%= locals.pass ? "Delete the file?" : "Delete this file?" %> </h2>
            <div class="file">
                <% if ((locals.contentType || locals.mimetype)?.startsWith('image/') && !locals.pass) { %>
                    <img src="/files/<%= filename %>" alt="">
                <% } else { %>
                    <div class="fileIcon">
                        <p><%= filename.split('.').pop().length <= 5 ? filename.split('.').pop() : filename.substr(0, 2) + '...' %> </p>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;fill: #273036;" xml:space="preserve">
                            <path d="M32,464V48c0-8.8,7.2-16,16-16h240v64c0,17.7,14.3,32,32,32h64v48h32v-64c0-4.3-1.6-8.3-4.6-11.4l-96-96c-3-3-7.1-4.7-11.4-4.6H48C21.5,0,0,21.5,0,48v416c0,26.5,21.5,48,48,48h112v-32H48C39.2,480,32,472.8,32,464z">
                            </path>
                        </svg>
                    </div>
                <% } %> 
            </div>
        </div>
        <div class="other">
            <div class="sep"></div>
            <div class="infos">
                <h2 class="infoTitle">File Info</h2>
                <% if (locals.name) { %>
                    <div class="info name"><p>File name:</p><p><%= name %> <i>(<%= filename %>)</i></p></div>
                <% } else { %>
                    <div class="info name"><p>File name:</p><p><%= filename %></p></div>
                <% } %> 
                <div class="info length"><p>File size:</p><p><%= locals.size || locals.text?.length || '??' %></p></div>
                <div class="info type"><p>File type:</p><p><%= locals.contentType || locals.mimetype || (locals.text ? 'text/plain' : '??') %></p></div>
                <div class="info"><p>Expires on:</p><p class="dt"><%= new Date(datetime).toDateString() %></p></div>
                <% if (locals.pass) { %>
                    <div class="info note"><p><b>Note:</b>&nbsp;File is password protected</p><p class="dt">—Therefore invisible when added to any site</p></div>
                <% } %>
            </div>
            <div class="del">
                <div class="in">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m276 210h-40c-8.271 0-15 6.729-15 15v15h70v-15c0-8.271-6.729-15-15-15z" fill="#ffffff" data-original="#000000" /><path d="m346 270h-180c-8.284 0-15 6.716-15 15v15h210v-15c0-8.284-6.716-15-15-15z" fill="#ffffff" data-original="#000000"/><path d="m430.836 161.157c.109-2.05.164-4.104.164-6.157 0-63.411-51.589-115-115-115-17.118 0-33.892 3.815-49.244 11.125-23.39-31.855-60.784-51.125-100.756-51.125-68.925 0-125 56.075-125 125 0 11.529 1.599 22.924 4.764 34.017-27.891 19.519-44.764 51.423-44.764 85.983 0 57.897 47.103 105 105 105h36.634l-.943-20h-5.691c-8.284 0-15-6.716-15-15v-30c0-24.853 20.147-45 45-45h25v-15c0-24.853 20.147-45 45-45h40c24.853 0 45 20.147 45 45v15h25c24.853 0 45 20.147 45 45v30c0 8.284-6.716 15-15 15h-5.691l-.943 20h46.634c52.383 0 95-42.617 95-95 0-47.338-34.801-86.7-80.164-93.843z" fill="#ffffff" data-original="#000000"/><path d="m179.635 497.707c.377 8.001 6.974 14.293 14.983 14.293h122.763c8.009 0 14.606-6.293 14.983-14.293l7.912-167.707h-168.552zm94.373-123.196c.271-8.28 7.222-14.761 15.481-14.503 8.28.27 14.773 7.201 14.503 15.481l-3 92c-.265 8.113-6.925 14.511-14.983 14.511-.166 0-.331-.002-.498-.008-8.28-.27-14.773-7.201-14.503-15.481zm-51.497-14.503c8.283-.26 15.211 6.224 15.481 14.503l3 92c.27 8.28-6.224 15.211-14.503 15.481-.166.005-.333.008-.498.008-8.059 0-14.719-6.397-14.983-14.511l-3-92c-.27-8.28 6.224-15.211 14.503-15.481z" fill="#ffffff" data-original="#000000" /></g></g></svg>
                    <span>Delete</span>
                </div>
            </div>
            <div class="home">
                <div class="in">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 59.465 59.465" style="enable-background:new 0 0 512 512; fill: #fff" xml:space="preserve">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path d="M58.862,33.886L45.045,20.069v-9.112c0-1.136-0.921-2.056-2.056-2.056c-1.137,0-2.057,0.92-2.057,2.056v5.001L31.185,6.21c-0.801-0.803-2.104-0.803-2.905,0L0.603,33.886c-0.803,0.804-0.803,2.104,0,2.907c0.802,0.803,2.104,0.803,2.907,0L29.732,10.57l26.223,26.223c0.401,0.398,0.93,0.604,1.455,0.604c0.522,0,1.051-0.201,1.452-0.604C59.665,35.988,59.665,34.689,58.862,33.886z" ill="#ffffff" data-original="#000000"></path>
                                    <path d="M52.979,36.245L31.185,14.449c-0.385-0.385-0.908-0.602-1.454-0.602c-0.545,0-1.068,0.217-1.453,0.602L6.484,36.245c-0.291,0.288-0.487,0.659-0.565,1.062c-0.061,0.314-0.091,0.633-0.091,0.942v10.638c0,2.739,2.229,4.971,4.969,4.971h10.638c1.378,0,2.707-0.582,3.645-1.599c0.854-0.923,1.324-2.12,1.324-3.373v-7.812c0-1.896,1.453-3.48,3.33-3.658c1.878,0.178,3.331,1.762,3.331,3.658v7.812c0,1.252,0.472,2.45,1.324,3.373c0.938,1.017,2.269,1.599,3.646,1.599h10.638c2.74,0,4.971-2.229,4.971-4.972V38.252c0-0.312-0.031-0.63-0.092-0.941C53.471,36.904,53.271,36.533,52.979,36.245z" fill="#ffffff" data-original="#000000"></path>
                                </g>
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            </g>
                        </g>
                    </svg>
                    <span>Home</span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>